.classpath
.DS_Store
.externalNativeBuild
.gradle
.idea
.project
.vscode/
*.iml
*.keystore
/.idea
/.settings
/app/.settings
/build
/captures
/local.properties
build
gen
local.properties
maven-repository
mvn-clone
target